@import 'reset';
@import 'fonts';

$color_style_one:#ffbb42;
$color_style_two:#709dca;

.wrapper {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: #ffffff;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;

    &__burger {
        display: none;
        position: relative;
        margin-right: 50px;
    }

    &__nav {
        display: flex;
    }

    &__nav-submenu {
        display: flex;
    }

    &__nav-link {
        font-size: 13px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #868686;
        padding: 10px 20px;
        border-radius: 2px;

        &:hover {
            color: #fff7ec;
            background-color: #ffbb42;
        }
    }
}

.data {
    background-color: #709dca;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 350px;
    position: relative;

    &__caption {
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__caption-title {
        font-size: 35px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 10px;
    }

    &__caption-subtitle {
        font-size: 16px;
        font-family: "GothamProRegular", sans-serif;
        color: #ffffff;
    }

    &__form {
        margin-top: 35px;
    }

    &__form-email {
        background: white url(../jpg/header/2.png) no-repeat scroll 9px 9px;
//        background-color: white;
        padding-right: 10px;
    }

    &__form-tel {
        background: white url(../jpg/header/3.png) no-repeat scroll 9px 9px;
        padding-right: 10px;
    }

    &__form-user {
        background: white url(../jpg/header/1.png) no-repeat scroll 9px 9px;
        padding-right: 10px;
    }

    &__form-field {
        width: 250px;
        padding: 10px 0;
        margin-right: 5px;
        border-radius: 2px;
        border: none;
        padding-left: 30px;

        &::placeholder {
            color: #a9a9a9;
            font-family: "OpenSansRegular", sans-serif;
        }
    }

    &__form-button {
        font-size: 14px;
        font-family: "OpenSansRegular", sans-serif;
        text-transform: uppercase;
        color: #868686;
        padding: 9px 40px;
        border-radius: 2px;
        border: none;

        &:hover {
            color: #fff7ec;
            background-color: #ffbb42;
            cursor: pointer;
        }
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -80px;


    &__img {
        margin-bottom: 20px;
        top: -290px;
    }

    &__btn {
        bottom: -100px;
    }

    &__btn-round {
        width: 16px;
        height: 16px;
        border-style: solid;
        border-width: 2px;
        border-color: #868686;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0);

        &:hover {
            border-color: rgb(28, 168, 221);
            border-width: 2px;
        }
    }
}

// @media first block

@media (max-width: 1140px) {
    .menu {
        &__logo {
            margin-left: 50px;
        }

        &__burger {
            display: block;
        }

        &__nav-submenu {
            display: none;
            position: absolute;
            z-index: 2;
            width: 150px;
            top: 5;
        }

        &__nav-submenu-link {
            color: #868686;
        }

        &__nav-sublink {
            margin-bottom: 5px;
        }
    }

    li:hover .menu__nav-submenu {
        display: block;
    }

    .data {
        padding-bottom: 250px;

        &__form {
            display: flex;
            //            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__form-field {
            margin-bottom: 10px;
        }

        &__caption-title {
            text-align: center;
        }

        &__caption-subtitle {
            text-align: center;
        }
    }

    .slider {
        &__img {
            max-width: 70%;
            height: auto;
        }
    }
}

@media (max-width: 320px) {

    .data {
        padding-bottom: 150px;
    }
}

//second block

.our-services {
    background: #fff;
}

.services-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;

    &__title {
        font-size: 30px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #394b50;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 16px;
        font-family: "GothamProRegular", sans-serif;
        color: #7b878a;
    }
}

.services-blocks {
    margin-top: 90px;
    display: flex;

    &__cart {
        width: 50%;
    }

    &__cart:last-of-type {
        margin-left: 30px;
    }
}

.services-info {
    display: flex;
    margin-bottom: 80px;

    &__pic {
        width: 65px;
        height: 55px;
    }


    &__text {
        margin-left: 40px;
    }

    &__text-title {
        font-size: 16px;
        font-family: "LatoBold", sans-serif;
        color: #394b50;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__text-subtitle {
        font-size: 13px;
        font-family: "OpenSansRegular", sans-serif;
        line-height: 1.6;
        color: #7b878a;
        padding-bottom: 40px;

    }
}


@media (max-width: 760px) {


    .services-header {
        align-items: center;
        padding-top: 150px;

        &__title {

            text-align: center;
        }

        &__subtitle {

            text-align: center;
        }
    }

    .services-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__cart {
            width: 100%;
            margin: 0 15px 10px 15px;

            &:last-of-type {
                margin-left: 15px;
            }
        }
    }
}

@media (max-width: 320px) {
    .services-info__pic {
        width: 55px;
        height: 45px;
    }
}

//therd block

.about-us {
    display: flex;

    &__left {
        background: url(../jpg/about/1.jpg);
        background-size: cover;
        width: 50%;
        min-height: 100%;
    }

    &__right {

        background: $color_style_one;
        width: 50%;
        padding-left: 80px;
    }

    &__right-title {
        font-size: 30px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding-top: 160px;
        padding-bottom: 30px;
    }

    &__right-subtitle {
        font-size: 13px;
        font-family: "OpenSansRegular", sans-serif;
        line-height: 1.6;
        color: #fff;
        max-width: 510px;
        padding-bottom: 30px;
        padding-right: 10px;
    }

    &__right-btn {
        font-size: 14px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        margin-bottom: 175px;
        color: #fff;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(231, 173, 72);
        border-radius: 2px;
        background: $color_style_one;
        padding: 15px 30px;
        cursor: pointer;

        &:hover {
            background: #fff;
            color: #b5bbc1;
        }
    }
}

//@media theerd block

@media (max-width: 760px) {
    .about-us {
        flex-wrap: wrap;

        &__left {
            width: 100%;
            height: 500px;
        }

        &__right {
            width: 100%;
            padding-left: 50px;
        }
    }
}



// four block

.price {
    background: #e7edf3;

    &__title {
        font-size: 30px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #394b50;
        text-align: center;
        padding-top: 135px;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-size: 18px;
        font-family: "LatoLight", sans-serif;
        text-align: center;
        color: #93a3a8;
        margin-bottom: 85px;
    }

    &__offer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 175px;
    }

    &__lining {

        &:hover .price__offer-cart {
            transform: scale(1.2);
            background: blue;
            transition: all 2s ease;
        }

        &:hover .price__offer-cart-list {
            color: white;
        }

        &:hover .price__offer-cart-tittle {
            color: white;
        }

        &:hover .price__offer-cart-value {
            color: white;
        }

        &:hover .price__offer-cart-proposal {
            color: white;
        }
    }

    &__offer-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        width: 360px;
        border-radius: 2px;
        border: 2px solid #ccd5df;
        margin-bottom: 20px;
    }

    &__offer-cart-tittle {
        font-size: 25px;
        font-family: "LatoLight", sans-serif;
        text-align: center;
        color: #93a3a8;
        text-transform: uppercase;
        padding: 55px 0 30px 0;
    }

    &__offer-cart-value {
        font-size: 60px;
        font-family: "LatoBold", sans-serif;
        color: $color_style_one;

        &::before {
            content: "$";
            vertical-align: super;
            font-size: 30px;
        }
    }

    &__offer-cart-proposal {
        font-size: 20px;
        font-family: "LatoLight", sans-serif;
        margin-bottom: 35px;
        text-transform: uppercase;
        color: #93a3a8;
    }

    &__offer-cart-list {
        font-size: 14px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        color: #b5bbc1;
        padding: 14px 0;
        border-top: 2px solid #e2e9f0;
        min_width: 320px;
        text-align: center;
    }

    &__offer-cart-btn {
        font-size: 14px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        background: $color_style_one;
        padding: 14px 20px;
        border-radius: 2px;
        border: none;
        margin: 20px 0 50px 0;
        cursor: pointer;

        &:hover {
             background: #fff;
             color: #b5bbc1;

        }
    }
}

@media (max-width: 1140px) {
    .price__offer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__offer-cart {
            width: 360px;
        }
    }
}

@media (max-width: 480px) {
    .price__offer-cart {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .price__offer-cart {
        width: 240px;
    }
}

//five block

.work {
    background: white;

    &__container {
        text-align: center;
    }


    &__title {
        font-size: 30px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #394b50;
        text-align: center;
        padding-top: 135px;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-size: 18px;
        font-family: "LatoLight", sans-serif;
        text-align: center;
        color: #394b50;
        margin-bottom: 85px;
    }
}

.work-block {
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 110px;
    position: relative;

    &__cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 220px;
        position: relative;
    }

    &__cart-arrow {
        position: absolute;
        left: 190px;
        top: -40px;

        &--reverse {
            position: absolute;
            bottom: 170px;
            left: 170px;
            transform: rotateX(180deg);
        }
    }

    &__cart-icon {
        margin-bottom: 110px;
    }

    &__cart-title {
        font-size: 20px;
        font-family: "LatoBold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #394b50;
    }

    &__cart-text {
        text-align: center;
        font-size: 13px;
        font-family: "OpenSansRegular", sans-serif;
        line-height: 1.6;
        color: #7b7b7b;
    }

    &__cart-btn {
        font-size: 14px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        background: $color_style_one;
        padding: 14px 20px;
        border-radius: 2px;
        border: none;
        margin: 0 0 150px;
        cursor: pointer;
    }
}

//five block @media

@media (max-width: 1140px) {

    .work-block {

        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__cart {
            width: 360px;
            margin-bottom: 80px;
            position: relative;
        }

        &__cart-icon {
            margin-bottom: 30px;
        }

        &__cart-arrow {
            position: absolute;
            left: 200px;
            top: 200px;
            transform: rotateZ(90deg);

            &--reverse {
                left: -160px;
                top: 200px;
                transform: rotateZ(-90deg);
            }
        }
    }
}

@media (max-width: 460px) {
    .work-block {

        &__cart-text {
            padding: 0 15px;
        }

        &__cart-arrow {
            position: absolute;
            left: 160px;
            top: 230px;

            &--reverse {
                position: absolute;
                left: -90px;
                top: 220px;
                transform: rotateZ(-90deg);
            }
        }
    }
}


//six block

.clients {
    background: $color_style_one;

    &__title {
        font-size: 30px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding-top: 140px;
        padding-bottom: -20px;
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
        font-family: "LatoLight", sans-serif;
        line-height: 1.6;
        color: #fff;
        padding-bottom: 60px;
        text-align: center;
    }
}

.clients-blocks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;

    &__col {
        display: flex;
        flex-direction: column;

        &:first-of-type {
            margin-right: 35px;
        }
    }

    &__col-review {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 45px 0px 50px 30px;
        margin-bottom: 20px;
    }

    &__col-review-person {
        display: flex;
    }

    &__col-review-person-photo {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    &__col-review-person-text {
        font-size: 13px;
        font-family: "OpenSansRegular", sans-serif;
        line-height: 1.69;
        color: #7b7b7b;
        margin: -10px 30px 0px 30px;


        &::after {
            font-family: "GothamProBlack", sans-serif;
            content: "\201c";
            font-size: 30px;
            vertical-align: top;
            margin-left: 75px;
        }

        &::before {
            font-family: "GothamProBlack", sans-serif;
            content: "\201d";
            font-size: 30px;
            margin-right: 10px;
            vertical-align: super;
        }
    }


    &__col-review-person-signature {
        font-size: 14px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        color: #b8c2c6;
        margin-left: 150px;

        &--color {
            color: #f78d58;
        }
    }
}

//six block @media

@media (max-width: 1140px) {
    .clients-blocks {
        display: flex;
        flex-direction: column;

        &__col:first-of-type {
            margin-right: 0;
        }
    }

}

@media (max-width: 480px) {
    .clients-blocks {

        &__col-review-person {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__col-review-person-photo {
            margin-bottom: 20px;
        }

        &__col-review {
            justify-content: center;
            align-items: center;
        }

        &__col-review-person-signature {
            margin: auto;
        }
    }
}

// seven block

.newsletter {
    &__title {
        font-size: 30px;
        font-family: "GothamProBlack", sans-serif;
        text-transform: uppercase;
        color: #394b50;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-size: 18px;
        font-family: "LatoLight", sans-serif;
        text-align: center;
        color: #394b50;
        margin-bottom: 40px;
    }

    &__form {
        margi-top: 0px;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    &__form-field-user {
        width: 230px;
        padding: 10px 0;
        margin-right: 5px;
        border-radius: 2px;
        border: none;
        padding-left: 30px;
        border: 2px solid #cbcbcb;

        &::placeholder {
            color: #a9a9a9;
            font-family: "OpenSansRegular", sans-serif;
        }
    }

    &__form-field-email {
        width: 390px;
        padding: 10px 0;
        margin-right: 5px;
        border-radius: 2px;
        border: none;
        padding-left: 30px;
        border: 2px solid #cbcbcb;
    }

    &__form-email {
        background: white url(../jpg/header/2.png) no-repeat scroll 9px 9px;
        padding-right: 10px;
    }

    &__form-user {
        background: white url(../jpg/header/1.png) no-repeat scroll 9px 9px;
        padding-right: 10px;
    }

    &__map {
        background: url(../jpg/newsletter/map.jpg) no-repeat center;
        background-size: auto auto;
        padding-bottom: 55px;
        border-bottom: 2px solid #e3e7ec;
    }

    &__address {
        background: url(../jpg/newsletter/shape.png) no-repeat center;
        background-position: 50% 30%;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 95px;
    }

    &__address-title {
        font-size: 15px;
        color: #ffffff;
        font-family: "LatoBold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__address-text {
        font-size: 13px;
        color: #8e989c;
        font-family: "OpenSansRegular", sans-serif;
        margin-bottom: 15px;

        &--basecolor {
            color: $color_style_one;
            margin-bottom: 75px;
        }
    }

    &__address-logo {
        margin-top: 20px;
    }
}

.navigation-container {
    text-align: center;
}

.navigation {
    margin-top: 65px;

    &__nav {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__nav-item {
        margin-right: 35px;
    }

    &__activecall {
        margin-bottom: 25px;
    }

    &__activecall-number {
        font-size: 23px;
        font-family: "LatoRegular", sans-serif;
        color: #606d70;
        text-decoration: none;
        margin-left: 10px;
    }

    &__activecal-icon {
        color: #394b50;
        font-size: 23px;
    }

    &__nav-link {
        font-size: 13px;
        font-family: "LatoRegular", sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #606d70;
    }

    &__icons {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__icons-item {
        margin-right: 15px;
    }

    &__icons-link {
        color: #709dca;
        font-size: 23px;

        &:hover {
            color: $color_style_one;
        }
    }
}

//seven block @media

@media (max-width: 950px) {

    .newsletter {
        &__form {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__form-field-user {
            margin-bottom: 10px;
        }

        &__form-field-email {
            margin-bottom: 10px;
        }
    }

    .navigation {
        &__nav {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .newsletter {
        &__form {}

        &__form-field-user {}

        &__form-field-email {
            width: 230px;
        }
    }
}

//footer

.footer {
    background: $color_style_two;
    padding: 17px 0;

    &__text {
        font-size: 13px;
        font-family: "OpenSansRegular", sans-serif;
        color: #f7f9fc;
        line-height: 1.846;
        text-align: center;
    }
}
